{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/login.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <title>Login</title>
</head>
<body>

    <div class="bg-image">
        <div class="signup-container">
            <h1>Login</h1>
            <h2>Unlimited movies, TV shows, and more.</h2>

            <div>
                <style>
                    h5{
                        color: white;
                    }
                </style>
                {% for message in messages %}
                <h5>{{message}}</h5>
                {% endfor %}
            </div>


            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" />
                <input type="password" name="password" placeholder="Password" />
                <button style="color:white" type="submit" class="signup-btn">Login</button>
            </form>
            <div class="help-text" align="center">
                <span>Ready to watch? Enter your email to create or restart your membership.</span>
                <br>
                <br>
                <span>Dont have an account? <a href="/signup">Signup</a></span>
            </div>
            
            <!-- Add Facebook OAuth -->
            <!-- <div class="social-login" style="text-align: center; margin-top: 20px; display: flex; justify-content: center;">
                <a href="{% url 'social:begin' 'google-oauth2' %}" style="margin-right: 20px;">
                    <img src="{% static 'google_signin.png' %}" alt="Google Sign in" style="max-width: 100%;" />
                </a>
                <a href="{% url 'social:begin' 'facebook' %}">
                    <img src="{% static 'facebook_signin.png' %}" alt="Facebook Sign in" style="max-width: 100%;" />
                </a>
            </div> -->
            <div class="social-login" style="text-align: center; margin-top: 20px; display: flex; justify-content: center;">
                <a href="{% url 'social:begin' 'google-oauth2' %}">
                    <img src="{% static 'google_signin.png' %}" alt="Google Sign in" style="max-width: 100%;" />
                </a>
            </div>
        </div>
    </div>

</body>
</html>
