<!-- Load all Static Files With Auto Django -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Pro</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <style>
        a {
            color: white;
            text-decoration: none;
        }

        a:hover, .dropdown:hover {
            color: grey;
        }
        *::-webkit-scrollbar {
            display: none;
        }

        .film-container {
            overflow-x: auto;
            overflow-y: hidden;
        }
    </style>
</head>

<body class="text-white" style="background-color: #141414;">
    <header class="p-5 flex justify-between items-center">
        <div class="flex items-center space-x-5">
            <a href="/">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Logonetflix.png" height="30" alt="Netflix Logo" width="110" class="mr-3">
            </a>
            
            <nav class="flex space-x-5">
                <span><a href="/" class="mr-3">Home</a></span>
                
                <div class="dropdown">
                    <span id="dropdownMenuButton" class="cursor-pointer">Genres ▼</span>
                    <div id="dropdownMenu" class="dropdown-content hidden">
                        <ul><a href="/genre/action/">Action</a></ul>
                        <ul><a href="/genre/adventure/">Adventure</a></ul>
                        <ul><a href="/genre/horror/">Horror</a></ul>
                        <ul><a href="/genre/romance/">Romance</a></ul>
                        <ul><a href="/genre/science_fiction/">Science Fiction</a></ul>
                        <ul><a href="/genre/thriller/">Thriller</a></ul>
                        <ul><a href="/genre/fantasy/">Fantasy</a></ul>
                        <ul><a href="/genre/animation/">Animation</a></ul>
                        <ul><a href="/genre/documentary/">Documentary</a></ul>
                        <ul><a href="/genre/mystery/">Mystery</a></ul>
                        <ul><a href="/genre/comedy/">Comedy</a></ul>
                    </div>
                </div>

                <span><a href="/my-movies">My List</a></span>
                <span><a href="/netflix-wrapped-landing-page">Netflix Wrapped</a></span>
            </nav>
        </div>


        <div class="flex space-x-5 items-center">
            <form action="search" method="POST">
                {% csrf_token %}
                <input type="search" name="search_term" placeholder="Search" class="bg-gray-700 p-2 rounded">
                <button class="bg-red-600 text-white p-2 rounded hover:bg-red-500">Search</button>
            </form>
            <div class="relative">
                <a href="#" class="block p-2">Welcome, {{user.username}}</a>
                <a href="/logout" class="block p-2">Logout</a>
            </div>
        </div>
    </header>

    <hr>
    <div align='center'>
        <h2 class="text-xl mb-5" style="padding-top: 20px">
            Search Results for "{{ search_term }}"
        </h2>
    </div>

    <section class="py-10 px-5 relative">
        <!-- Previous Arrow -->
        <button class="prev-arrow absolute left-0 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2 hover:bg-gray-600">‹</button>
        <div class="film-container flex space-x-5 overflow-x-auto relative">
            {% for movie in movies %}
            <div class="w-40 h-64 flex-shrink-0 film-card" 
                onclick="showModal(this)"
                movie-title="{{ movie.title }}"
                movie-description="{{ movie.description }}"
                movie-genre="{{ movie.genre }}"  
                movie-release-date="{{ movie.date }}"
                movie-length="{{ movie.length }}"
                movie-image-carousel-card-url="{{ movie.image_carousel_card.url }}"
                movie-image-feature-cover-url="{{ movie.image_feature_cover.url }}"
                movie-video-url="/movie/{{ movie.uu_id }}"
                style="background-image: url('{{ movie.image_carousel_card.url }}'); background-size: cover; background-position: center;">
            </div>
            {% endfor %}
        </div>
        <!-- Next Arrow -->
        <button class="next-arrow absolute right-0 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2 hover:bg-gray-600">›</button>
    </section>
    
    

    <!-- Modal -->
    <div class="modal" id="movieModal">
        <div class="modal-content">
            <div class="flex justify-between">
                <h2 class="text-xl mb-5">Movie Title</h2>
                <button onclick="hideModal()">X</button>
            </div>
            <div class="flex justify-center mb-5">
                <img src="https://w0.peakpx.com/wallpaper/16/546/HD-wallpaper-monkey-luffy-gear-5-art-one-piece.jpg" alt="Movie Image" class="mx-auto">
            </div>
            <div class="flex justify-between mb-5">
                <span>Release Date:</span>
                <span>Length: </span>
            </div>
            <p class="mb-5">Movie Description</p>
            <div class="flex space-x-4 mb-5">
                <a href="movie.html">
                    <button class="bg-red-600 text-white p-2 px-5 rounded hover:bg-red-500">Play</button>
                </a>
                <button id="addToMyMoviesButton" onclick="addItemToMyMovies()" class="border border-white text-white p-2 px-5 rounded hover:bg-gray-700">
                    Add to My List
                </button>
            </div>
        </div>
    </div>

    <script>
        function showModal(element) {
            // Retrieve data attributes
            const title = element.getAttribute('movie-title');
            const description = element.getAttribute('movie-description');
            const releaseDate = element.getAttribute('movie-release-date');
            const genre = element.getAttribute('movie-genre');
            const length = element.getAttribute('movie-length');
            const imageCardUrl = element.getAttribute('movie-image-carousel-card-url');
            const imageCoverUrl = element.getAttribute('movie-image-feature-cover-url');
            const dataVideoUrl = element.getAttribute('movie-video-url');
        
            // Update the modal's content with the movie details
            const modal = document.getElementById('movieModal');
            modal.querySelector('.modal-content h2').textContent = title;
            modal.querySelector('.modal-content img').src = imageCoverUrl;
            modal.querySelector('.modal-content a').href = dataVideoUrl;  
            modal.querySelector('.modal-content img').alt = title + " Cover Image";
            modal.querySelector('.modal-content .flex span:first-child').textContent = "Release Date: " + releaseDate;
            modal.querySelector('.modal-content .flex span:nth-child(2)').textContent = "Genre: " + genre;
            modal.querySelector('.modal-content .flex span:last-child').textContent = "Length: " + length + "min";
            modal.querySelector('.modal-content p').textContent = description;
        
            // Show the modal
            modal.style.display = 'block';
            setTimeout(() => {
                modal.classList.add('modal-show');
            }, 50);
        }
        
        function hideModal() {
            const modal = document.querySelector('.modal');
            modal.classList.remove('modal-show');
            setTimeout(() => {
                modal.style.display = 'none';
            }, 300);
        }
        

        window.onclick = function(event) {
            if (event.target === document.getElementById('movieModal')) {
                hideModal();
            }
        }

        function addItemToMyMovies() {
            const modal = document.getElementById('movieModal')
            var movieID = modal.querySelector('.modal-content a').href;

            // Submit form without refreshing page
            $.ajax({
                url: "{% url 'add-to-my-movies' %}",
                type: "POST",
                data: {
                    movie_id: movieID,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(data) {
                    // Display toast notification with the message
                    if (data.message === "Movie already in My List") {
                        toastr.warning(data.message);
                    } else {
                        toastr.success(data.message);
                    }
                    // Update button text and disable it
                    // $('#addToMyMoviesButton').text(data.message).prop('disabled', true);
                    console.log("Item added to My List!");
                },
                error: function(xhr, errmsg, err) {
                   
                    console.error("Error adding item to My List: " + errmsg);
                }
            });
        }

        $(document).ready(function() {
            const filmContainer = $('.film-container');
            const prevArrow = $('.prev-arrow');
            const nextArrow = $('.next-arrow');

            prevArrow.on('click', function() {
                filmContainer.animate({scrollLeft: '-=800'}, 'fast'); // Adjust scroll amount as needed
            });

            nextArrow.on('click', function() {
                filmContainer.animate({scrollLeft: '+=800'}, 'fast'); // Adjust scroll amount as needed
            });
        });

    </script>
</body>

</html>
